<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Personas</title>
    </head>
    <body>
        <h1>Aplicación personas</h1>
        <p>En la siguiente tabla se muestra la lista de todas las personas.</p>

        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>

            {% for persona in personas %}
                <tr>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                </tr>
            {% endfor %}
        </table>

    </body>
</html>